// 样式变量
$--color-primary: #409eff;
$--color-white: #ffffff;
$--color-black: #000000;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

$--border-radius-base: 4px !default;
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-lighter: #ebeef5 !default;

$--color-text-placeholder: #c0c4cc !default;
$--color-text-secondary: #909399 !default;